#header {
border: 2px solid #8B0000;
color: darkgreen;
font-family: Arial;
text-align: center;
}
h2 {
  color: darkgreen;
  font-family: Arial;
}
button {
  background-color: white;
  box-shadow: 0px 0px 0px 1px #8B0000;
  margin: 3px;
}
li{
  color: #8B0000;
}
